/********************************************************** SQUARED FOUR ********************************************************/


/* kürzt angeblich Te... */
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
  width: 500px;
}

.fragePositionierung{
/* 	display:inline-block; 
	position:relative; 
	margin-bottom:-5px; 
	left:0px; */
	width: 95%;
	float:left;
}

.beantwortetButtonPositionierung{
/* 	display:inline; 
	left:30px; */
	width: 5%;
	float:right;
	border-left:groove;
}

.quBold{
	font-weight:bold;
}

.dozSentAnswer{
	background-color: rgb(216, 216, 216);
}

/* Für Suche */
.hider{
}

.highlight { 
	background-color: darkgreen;
}


/* Eigenschaften für Filterbutton */
.filter,
.filter:focus{
	color:#1C70B3 !important;
}
.filter:hover{
	background-color: #D3D3D3 !important;
}
#filterLabel{
	margin-bottom:0px;
}


.agenda1,
.agenda1:focus{
	background-color: #009688 !important;
	color:#FFF !important;
}

.agenda2,
.agenda2:focus{
	background-color: #4CAF50 !important;
	color:#FFF !important;;
}

.agenda3,
.agenda3:focus{
	background-color: #8BC34A !important;
	color:#FFF !important;
}

.agenda4,
.agenda4:focus{
	background-color: #009688 !important;
	color:#FFF;
}

.agendaDisabled,
.agendaDisabled:focus{
	background-color: #BDBDBD !important;
	border-color: #BDBDBD !important;
	color:#FFF;
}


.agenda1:hover{
	background-color: #00695C !important;
	color:#FFF;
}
.agenda2:hover{
	background-color: #2E7D32 !important;
	color:#FFF;
}
.agenda3:hover{
	background-color: #558B2F !important;
	color:#FFF;
}

.agenda4:hover{
	background-color: #FBC02D !important;
	color:#FFF;
}


.agenda1Fragen{
	border: groove !important;
	border-color: #009688 !important;
	
}
.agenda2Fragen{
	border: groove !important;
	border-color: #4CAF50 !important;
}
.agenda3Fragen{
	border: groove !important;
	border-color: #8BC34A !important;
}

.agenda1Label{
	color: #009688;
}
.agenda2Label{
	color: #4CAF50;
}
.agenda3Label{
	color: #8BC34A;
}

.quLabel{
	font-weight:bold !important;
	font-size:1.5em !important;
}

#quHeading{
	color: black !important;
}

.quOverflow{
	overflow:hidden;
	cursor:pointer;
}


.bewertung1{
	border-color:#009688 !important;
	background-color:#009688 !important;
}

.bewertung2{
	border-color:#4CAF50 !important;
	background-color:#4CAF50 !important;
}

.bewertung3{
	border-color:#8BC34A !important;
	background-color:#8BC34A !important;
}

.bewertung4{
	border-color:#FFEB3B !important;
	background-color:#FFEB3B !important;
}

.bewertungcontainer1{
	border-color:#B0BEC5 !important;
}

.bewertungcontainer2{
	border-color:#B0BEC5 !important;
}

.bewertungcontainer3{
	border-color:#B0BEC5 !important;
}

.bewertungcontainer4{
	border-color:#B0BEC5 !important;
}



/* Fragenbeantwortet Status*/
/* .checkerBoxer .haken 
   {
   background: url(res/kreuz_rot25px.png);
   height: 25px;
   width: 25px;
 } */
  
 .checkerBoxer input[type=checkbox] {
    display:none ;
  }
  
 .haken{
	position:relative; 
	top: 50%; 
	left:45%
 }
  
/* .checkerBoxer input[type=checkbox]:checked + label
    {
        background: url(res/haken_gruen25px.png);
        height: 25px;
        width: 25px;
        display:inline-block;
        padding: 0 0 0 0px;
  } */


  /* Die Scheiße funktioniert nicht */
.panelCustom{
	font-size:18 !important;
	line-hight: 1.7em !important;
	background-color: rgb(213, 197, 179) !important;
	color: black !important;
}

.frageDatum{
	font-size: 0.85em; 
	opacity: .5; 
	filter:Alpha(Opacity=50);
}

.frageVollständig{
	font-size: 1.3em;
	font-weight: bold;
}





.rating {
    float:left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:300%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}




.ratingDoz {
    float:right;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.ratingDoz:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.ratingDoz:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:135%;
    line-height:1.0;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.ratingDoz:not(:checked) > label:before {
    content: '★ ';
}

.ratingDoz > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}


.ratingComment{
	display: inline-block !important;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.ratingComment:not(:checked) > input {
    position:absolute;
    top:-9999px;	
    clip:rect(0,0,0,0);
}

.ratingComment:not(:checked) > label {
	float:right;
    width:1em;
    padding:0.1em;
    overflow:hidden;
	margin-bottom: 0px !important;
    white-space:nowrap;
    font-size:110%;
    line-height:1.0;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.ratingComment:not(:checked) > label:before {
    content: '★ ';
}

.ratingComment > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.comment1{
	border-bottom-color:#F44336 !important;
}

.comment2{
	border-bottom-color:#673AB7 !important;
}

.comment3{
	border-bottom-color:#2196F3 !important;
}

.comment4{
	border-bottom-color:#FFEB3B !important;
}






.radios1 .radio{
    background: url(res/lampe_an.png);
    display:inline-block;
	opacity: 0.5;
	cursor: pointer;
    width:60px;
    height:68px
}

.radios1 input[type=radio]{
    display:none;
}

.radios1 input[type=radio]:checked + .radio{
    background: url(res/lampe_an.png);
	opacity: 1.0;
}

.radios2 .radio{
    background: url(res/lampe_aus.png);
    display:inline-block;
	opacity: 0.5;
	cursor: pointer;
    width:38px;
    height:60px
}

.radios2 input[type=radio]{
    display:none
}

.radios2 input[type=radio]:checked + .radio{
    background: url(res/lampe_aus.png);
	opacity: 1.0;
}










